:root {
    --bg-color: hsl(30, 54%, 90%);
    --card-color: hsl(0, 0%, 100%);
    --primary-color: hsl(30, 10%, 34%);
    --accent-color: hsl(24, 20%, 54%);
    --heading-color: hsl(14, 45%, 36%);
    --h1-color: hsl(24, 5%, 18%);
    --text-color: hsl(30, 10%, 34%);


    --font-size: 16px;
}

@font-face {
    font-family: 'Young serif';
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
    font-family: 'Outfit';
    src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}


body {
    margin: 0;
    font-family: 'Outfit', sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
}

main {
    display: flex;
    justify-content: center;
    padding: 6rem 2rem;
}

.card {
    width: 100%;
    max-width: 700px;
    padding: 2rem;
    background-color: var(--card-color);
    border-radius: 12px;
}

.card img {
    width: 100%;
    border-radius: 10px;
    
}
.card h1 {
    font-family: 'Young serif';
    color: var(--h1-color);
    font-weight: 700;
}
.card h2 {
    color: var(--heading-color);
    font-family: 'Young serif';
    font-weight: 600;
}

.card li::marker {
    color: var(--heading-color);
    font-weight: 700;
}

.note {
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}
.note h3 {
    color: hsl(332, 51%, 32%);
}
.note li {
    margin: 10px;
}
.note li::marker{
    color:hsl(332, 51%, 32%);
}

.ingredients li {
    padding: 5px;
}

.instructions li{
    padding: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 1rem 2rem;
}

tr:not(:last-child) {
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

td:last-child {
    color: var(--heading-color);
    font-weight: 700;
}